@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-light font-sans; /* Set background and text color, and apply the default font */
}

/* Disable text selection */
body {
  @apply select-none;
}

/* Custom styles for links */
a {
  @apply text-secondary transition duration-200; /* Use secondary color for links and add a transition */
}

a:hover {
  @apply text-light; /* Change link color on hover */
}

/* Custom styles for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold; /* Make all headings bold */
}

h1 {
  @apply text-5xl; /* Customize h1 size */
}

h2 {
  @apply text-4xl; /* Customize h2 size */
}

h3 {
  @apply text-3xl; /* Customize h3 size */
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

nav a {
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 50%;
  background-color: #38a169; /* Tailwind green */
  transition: width 0.3s ease, left 0.3s ease;
}

nav a:hover::after {
  width: 100%;
  left: 0;
}

.no-underline::after {
  background: none;
}

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #64ffda; /* Use your secondary color */
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #0a192f; /* Use your primary color */
}

/* Transition for all links */
a {
  transition: color 0.3s ease; /* Smooth transition for link color changes */
}

/* Add any additional global styles here */
