@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-light font-sans select-none;
}

/* Custom styles for links */
a {
  @apply text-secondary transition-colors duration-200;
}

a:hover {
  @apply text-light; /* Change link color on hover */
}

/* Custom styles for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading font-bold;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

nav a {
  position: relative;
}

nav a:hover::after {
  width: 100%;
  left: 0;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #64ffda;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #0a192f;
}

/* Custom styles for code blocks */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* Add more custom styles here */
